<h3>Edit this pet</h3>
<form (submit)="onSubmit($event)">
	<label>Pet Name</label>
	<input
	type="text"
	name="name"
	required
	[(ngModel)]="pet.name"
	>
	<p style="color: red">{{errorName.message}}</p>
	<label>Pet Type</label>
	<input 
	type="text" 
	name="type"
	required 
	[(ngModel)]="pet.type"
	>
	<p style="color: red">{{errorType.message}}</p>
	<label>Description</label>
	<input
	type="text"
	name="description"
	required
	[(ngModel)]="pet.description"
	>
	<p style="color: red">{{errorDesc.message}}</p>
	<button>Edit pet</button>
	<button [routerLink]="['/']">Cancel</button>
</form>